h3, h4, h5 {
  font-family: cursive;
}

a {
  color: black;
}

sup {
  font-weight: bold;
}

a.footerlink {
  text-decoration: none;
}

#header, #footer {
  background-color: #cccccc;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#header h3, #footer div {
  margin: 0 auto;
  max-width: 960px;
  width: 80%;
  padding-top: .5em;
  padding-bottom: .5em;
}

#footer p {
  margin-bottom: .5em;
}

p, li {
  font: caption;
}

#coming-soon {
  width: 75%;
}

html {
  background-color: #dddddd
}

thead {
  font-weight: bold;
}
table .date {
  max-width: 90px;
}
table .title {
  max-width: 250px;
}

table .summary {
  max-width: 400px;
}

td {
  border: 2px solid #222222;
}

.blog-image {
  border: 4px solid #999999;
  margin: 10px;
}

.blog-image img {
  border-bottom: 2px solid #999999;
}

.blog-image p#subtext {
  margin: 5px;
  font-size: 12px;
}

ul.footnotes {
  list-style-type: none;
}

p.date {
  font-family: monospace;
}

./*space-for-footer {
  padding-bottom: 5em;
}*/
